---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
I hold a bachelor's degree in Mathematics from the esteemed Indian Institute of Technology, Delhi (IIT-Delhi). During my undergraduate studies, I had the opportunity to intern at American Express, gaining valuable insights into the industry.
<br><br>
After completing my bachelor's degree, I ventured into the dynamic field of global fintech, where I spent two enriching years contributing to cutting-edge projects. This experience fueled my passion for technology and its real-world applications.
<br><br>
Driven by the desire to deepen my knowledge in Computer Science and explore research in Natural Language Processing (NLP), I embarked on a journey to pursue a master's degree. I received admissions from several renowned institutions, including UCSD, Duke, University of Washington, University of Chicago, and NYU Courant. Eventually, I chose Texas A&M University (TAMU) for its exceptional academic environment, cost-effectiveness, and the incredible research opportunities it offered.
<br><br>
Currently, I am engaged in impactful research as a member of the DIVE lab, working under the guidance of <a href="https://people.tamu.edu/~sji/" target="_blank" style="color: blue; text-decoration: underline; ">Dr. Shuiwang Ji</a>. This experience allows me to delve into the fascinating realm of machine learning and contribute to advancements in the field.
  </div>

  <div class="divider my-0 thin-dark"></div>
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MS in Computer Science                                                                                                               GPA:  4 / 4"
      subtitle="Aug 2022 to May 2024                                                                                                                                                                                                                                                                                                                            Texas A&M University (TAMU),  USA"
    />
    <TimeLineElement
      title="Bachelors' in Mathematics & Computing                                                                                   GPA: 8.7/10"
      subtitle="Aug 2016 to Jun 2020                                                                                                                                                                                                                                                                                                                           Indian Institute of Technology (IIT-Delhi),  India"
    />
  </div>
  <div class="divider my-0 thin-dark"></div>
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer Intern, Hewlett Packard Enterprise"
      subtitle="May 2023 - Aug 2023                                                                                                                                            Houston, TX, USA"
    >
    <div class="mb-10 text-justify">
      <ul class="list-disc pl-5">
        <li>Enhanced Control Plane security for HPE GreenLake, the SaaS cloud division, by utilizing PSA Controller</li>
        <li>Implemented Calico as Kubernetes cluster backend, establishing network policies driven by pod labels</li>
        <li>Designed a Webhook Server to proactively prevent unsafe privileged pod creation, fortifying system security</li>

      </ul>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer, Olive (Formerly Polysynth)"
      subtitle="Nov 2021 - Aug 2022                                                                                                                                                         Singapore"
    >
    <div class="mb-10 text-justify">
      <ul class="list-disc pl-5">
        <li>Managed a team of 7 developers to successfully build an advanced automated trading platform from scratch</li>
        <li>Implemented simultaneous multi-account trading in C++ 17, increasing order rates by 10x and PnL by 100%</li>
        <li>Improved ML models to predict live crypto price movements; Increased R-squared by an average of 25%</li>

      </ul>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer, Open Futures"
      subtitle="Oct 2020 - Oct 2021                                                                                                                                                Gurugram, India"
    >
    <div class="mb-10 text-justify">
      <ul class="list-disc pl-5">
        <li>Designed algorithms to predict market patterns & improved infrastructure for implementing low latency orders</li>
        <li>Improved efficiency of trading simulator built in C++, increasing PnL of Crypto portfolio by more than 150%</li>
      </ul>
    </div>
    </TimeLineElement>
  </div>
  <div class="divider my-0 thin-dark"></div>
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Academic Achievements</div>
  </div>

  <div class="mb-10 text-justify">
    <ul class="list-disc pl-5">
      <li>Recipient of <b>Departmental scholarship</b> in recognition of exceptional performance at Texas A&M University</li>
      <li>Teaching Assistant for the course <b>Discrete Structures for Computing</b> at TAMU & <b>Differential Equation</b> at IIT-Delhi</li>
      <li>Received <b>Summer Undergraduate Research Award (SURA)</b>, IIT-Delhi's prestigious research award for excellent research contribution on Wireless Network Security and Online algorithms</li>
      <li>Awarded with <b>Top Merit Certificate</b> by IIT-Delhi for securing a rank in the top 50 in a batch of 800+ students</li>
      <li>Recipient of the <b>Kishore Vaigyanik Protsahan Yojana (KVPY) scholarship</b>, a prestigious program funded by the Department of Science and Technology, Government of India. Awarded for demonstrating exceptional aptitude and commitment to pursuing research careers in the fundamental sciences</li>
      <li>Secured <b>All India Rank of 334</b> in engineering entrance examination (IIT-JEE) among 1 million+ candidates
    </ul>
  </div>
  <div class="divider my-0 thin-dark"></div>
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Coursera Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/NBX97VX9MML5" target="_blank" class="text-blue-500">Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/ZRAZMZZN9FZJ" target="_blank" class="text-blue-500">Neural Networks and Deep Learning</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/DSNV8MCVDLPJ" target="_blank" class="text-blue-500">Structuring Machine Learning Projects</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/M57UZCASKLDG" target="_blank" class="text-blue-500">Sequence Models</a>
    </li>

    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/U3B2FYPZUX45" target="_blank" class="text-blue-500">Convolutional Neural Networks</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/LZXSX7H35DAA" target="_blank" class="text-blue-500">Financial Markets, Yale University </a>
    </li>
  </ul>

  <div class="divider my-0 thin-dark"></div>
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>PyTorch</li>
    <li>GNN</li>
    <li>Graph Transformers</li>
    <li>LLM</li>
    <li>Cloud Computing</li>
    <li>Kubernetes</li>
    <li>Django</li>
    <li>Node.js</li>
    <li>Javascript</li>
    <li>Statistical Mathematics</li>
    <li>Stochastic Modelling</li>
    <li>Competitive Programming</li>
</ul>
</BaseLayout>
