---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import TimeLineElement from "../components/cv/TimeLine.astro";
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const foregroundColor = "rgb(190 0 0)";
// const backgroundColor = "rgb(190 0 0)";
const lastPosts = posts.slice(0, 3);

const researchLinks = [
  {
    title: "Research Talk 1",
    image: "/research_talk_1_thumbnail.jpg",
    link: "https://your-research-talk-1-link.com",
  },
  {
    title: "Research Talk 2",
    image: "/Vote.webp",
    link: "https://your-research-talk-2-link.com",
  },
  {
    title: "Research Talk 1",
    image: "/research_talk_1_thumbnail.jpg",
    link: "https://your-research-talk-1-link.com",
  },
  {
    title: "Research Talk 2",
    image: "/research_talk_2_thumbnail.jpg",
    link: "https://your-research-talk-2-link.com",
  },
  // Add more research links as needed
];
---
<!-- <style define:vars={{ foregroundColor, backgroundColor }}>
  h1 {
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
  }
</style> -->

<BaseLayout sideBarActiveItemID="home">
    <!-- <div class="cover-image">
      <img src="../../public/profile.jpg" alt="Cover Image" />
    </div> -->
    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Sambhav Khurana</div><br>
      <div class="text-3xl py-3 font-bold">About ME</div>
      <div class="py-2">
        <p class="text-lg">
          I am currently pursuing a Master’s degree in Computer Science at Texas A&M University, where I conduct research at the DIVE lab under <a href="https://people.tamu.edu/~sji/" target="_blank" style="color: blue; text-decoration: underline; ">Dr. Shuiwang Ji</a>. My research focuses on developing Large Language Models (LLMs) for graph datasets, enhancing their interpretability, and explaining their outputs in a human-understandable manner. I have successfully crafted a language model for graphs that achieves state-of-the-art results in graph structure reasoning, boosting computational efficiency by 80% and improving accuracy by 75% compared to other LLMs.
        </p>
      </div>
      <div class="py-2">
        <p class="text-lg">
          With over two years of industry experience in global fintech startups,
          I have honed my skills in machine learning and cloud technologies.
          At Polysynth, I led a team of developers to build an advanced automated trading platform, significantly
          improving ML model performance and reducing trade execution delay to under 3 milliseconds. As an intern at
          Hewlett Packard Enterprise, I enhanced the security of the HPE GreenLake cloud platform and
          implemented Kubernetes network policies.
        </p>
      </div>
      <div class="py-2">
        <p class="text-lg">
          My academic background includes a Bachelor’s degree in Mathematics and Computing from IIT-Delhi,
          where I graduated with top honors. I am proficient in Python,
          C++, and have extensive experience with frameworks such as TensorFlow, PyTorch, and OpenCV.
        </p>
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/sambhavkhurana/" target="_blank"> Let's connect!</a>
      </div>
      <div class="mt-8">
        <div class="flex overflow-x-auto">
          <!-- {researchLinks.map((link) => (
            <HorizontalCard
              title={link.title}
              img={link.image}
              url={link.link}
              target="_blank"
              key={link.title}
            />
          ))} -->
        </div>
      </div>
    </div>
</BaseLayout>



<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
